/* The beginning */

.nav-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -8px;
  margin-right: -8px;
  margin-left: -8px;
  overflow: hidden;
  background-color: #001f3f;

}
.nav-wrapper a {
  float: right;
  display: block;
  padding: 8px;
  color: #F012BE;

}

.nav-wrapper a:hover {
  background-color: #DDDDDD;
}

.head-1 {
text-align: center;
}

.nav-link:hover {
  color: gray;
}

article {
  margin: 2%;
}

h2 {
  text-align: center;
}

a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
