/* The beginning */

.nav-wrapper {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #DDDDDD;

}
.nav-wrapper a {
  float: left;
  display: block;
  padding: 8px;
  color: #F012BE;
  
}

.nav-wrapper a:hover {
  background-color: #001f3f;
}
